@import "../../style/mixins";

.score-wrapper {
    border: 3px solid $headerOutline;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto 200px;

    @include respond(phone) {
        width: 90%;
        margin: 40px auto;
    }

    @include respond(tablet) {
        width: 90%;
    }
}

.score-container {
    padding: 30px 50px;
    background-color: $lightText;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-text {
    font-size: 20px;
    color: $scoreText;
}

.score-num {
    font-size: 50px;
    color: $headerOutline;
}
