@import "../../style/mixins";

.game-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
        margin-top: 130px;
    }

    @include respond(tablet) {
        width: 70%;
    }
}
