@import "../style/variables";

@keyframes paperWinAnimation {
    10% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 0px rgba(#ffffff, 0.07),
            0px 0px 0px 60px rgba(#ffffff, 0.05),
            0px 0px 0px 140px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowPaper;
    }
    20% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 0px rgba(#ffffff, 0.07),
            0px 0px 0px 70px rgba(#ffffff, 0.05),
            0px 0px 0px 150px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowPaper;
    }
    30% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 0px rgba(#ffffff, 0.07),
            0px 0px 0px 80px rgba(#ffffff, 0.05),
            0px 0px 0px 160px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowPaper;
    }
    40% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 10px rgba(#ffffff, 0.07),
            0px 0px 0px 90px rgba(#ffffff, 0.05),
            0px 0px 0px 170px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowPaper;
    }
    50% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 20px rgba(#ffffff, 0.07),
            0px 0px 0px 100px rgba(#ffffff, 0.05),
            0px 0px 0px 175px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowPaper;
    }
    60% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 30px rgba(#ffffff, 0.07),
            0px 0px 0px 110px rgba(#ffffff, 0.05),
            0px 0px 0px 185px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowPaper;
    }
    70% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 40px rgba(#ffffff, 0.07),
            0px 0px 0px 120px rgba(#ffffff, 0.05),
            0px 0px 0px 195px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowPaper;
    }
    80% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 50px rgba(#ffffff, 0.07),
            0px 0px 0px 130px rgba(#ffffff, 0.05),
            0px 0px 0px 210px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowPaper;
    }
    90% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 60px rgba(#ffffff, 0.07),
            0px 0px 0px 135px rgba(#ffffff, 0.05),
            0px 0px 0px 215px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowPaper;
    }
    100% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 70px rgba(#ffffff, 0.07),
            0px 0px 0px 140px rgba(#ffffff, 0.05),
            0px 0px 0px 220px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowPaper;
    }
}

@keyframes scissorsWinAnimation {
    10% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 0px rgba(#ffffff, 0.07),
            0px 0px 0px 60px rgba(#ffffff, 0.05),
            0px 0px 0px 140px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowScissors;
    }
    20% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 0px rgba(#ffffff, 0.07),
            0px 0px 0px 70px rgba(#ffffff, 0.05),
            0px 0px 0px 150px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowScissors;
    }
    30% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 0px rgba(#ffffff, 0.07),
            0px 0px 0px 80px rgba(#ffffff, 0.05),
            0px 0px 0px 160px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowScissors;
    }
    40% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 10px rgba(#ffffff, 0.07),
            0px 0px 0px 90px rgba(#ffffff, 0.05),
            0px 0px 0px 170px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowScissors;
    }
    50% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 20px rgba(#ffffff, 0.07),
            0px 0px 0px 100px rgba(#ffffff, 0.05),
            0px 0px 0px 175px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowScissors;
    }
    60% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 30px rgba(#ffffff, 0.07),
            0px 0px 0px 110px rgba(#ffffff, 0.05),
            0px 0px 0px 185px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowScissors;
    }
    70% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 40px rgba(#ffffff, 0.07),
            0px 0px 0px 120px rgba(#ffffff, 0.05),
            0px 0px 0px 195px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowScissors;
    }
    80% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 50px rgba(#ffffff, 0.07),
            0px 0px 0px 130px rgba(#ffffff, 0.05),
            0px 0px 0px 210px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowScissors;
    }
    90% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 60px rgba(#ffffff, 0.07),
            0px 0px 0px 135px rgba(#ffffff, 0.05),
            0px 0px 0px 215px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowScissors;
    }
    100% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 70px rgba(#ffffff, 0.07),
            0px 0px 0px 140px rgba(#ffffff, 0.05),
            0px 0px 0px 220px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowScissors;
    }
}

@keyframes rockWinAnimation {
    10% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 0px rgba(#ffffff, 0.07),
            0px 0px 0px 60px rgba(#ffffff, 0.05),
            0px 0px 0px 140px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowRock;
    }
    20% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 0px rgba(#ffffff, 0.07),
            0px 0px 0px 70px rgba(#ffffff, 0.05),
            0px 0px 0px 150px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowRock;
    }
    30% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 0px rgba(#ffffff, 0.07),
            0px 0px 0px 80px rgba(#ffffff, 0.05),
            0px 0px 0px 160px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowRock;
    }
    40% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 10px rgba(#ffffff, 0.07),
            0px 0px 0px 90px rgba(#ffffff, 0.05),
            0px 0px 0px 170px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowRock;
    }
    50% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 20px rgba(#ffffff, 0.07),
            0px 0px 0px 100px rgba(#ffffff, 0.05),
            0px 0px 0px 175px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowRock;
    }
    60% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 30px rgba(#ffffff, 0.07),
            0px 0px 0px 110px rgba(#ffffff, 0.05),
            0px 0px 0px 185px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowRock;
    }
    70% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 40px rgba(#ffffff, 0.07),
            0px 0px 0px 120px rgba(#ffffff, 0.05),
            0px 0px 0px 195px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowRock;
    }
    80% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 50px rgba(#ffffff, 0.07),
            0px 0px 0px 130px rgba(#ffffff, 0.05),
            0px 0px 0px 210px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowRock;
    }
    90% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 60px rgba(#ffffff, 0.07),
            0px 0px 0px 135px rgba(#ffffff, 0.05),
            0px 0px 0px 215px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowRock;
    }
    100% {
        box-shadow: 0px 0px 0px grey, 0px 13px transparent,
            0px 0px 0px 70px rgba(#ffffff, 0.07),
            0px 0px 0px 140px rgba(#ffffff, 0.05),
            0px 0px 0px 220px rgba(#ffffff, 0.025), inset 0px 7px 2px $grey,
            0 9px $shadowRock;
    }
}

// @keyframes scissorsCircle {
//     0% {
//         box-shadow: none;
//     }
//     10% {
//         box-shadow: inset 3px 7px 6px grey,
//             0px 13px darken($shadowScissors, 35%),
//             0px 0px 0px 0px rgba(#ffffff, 0.07),
//             0px 0px 0px 60px rgba(#ffffff, 0.05),
//             0px 0px 0px 140px rgba(#ffffff, 0.025);
//     }
//     20% {
//         box-shadow: inset 3px 7px 6px grey,
//             0px 13px darken($shadowScissors, 35%),
//             0px 0px 0px 0px rgba(#ffffff, 0.07),
//             0px 0px 0px 70px rgba(#ffffff, 0.05),
//             0px 0px 0px 150px rgba(#ffffff, 0.025);
//     }
//     30% {
//         box-shadow: inset 3px 7px 6px grey,
//             0px 13px darken($shadowScissors, 35%),
//             0px 0px 0px 0px rgba(#ffffff, 0.07),
//             0px 0px 0px 80px rgba(#ffffff, 0.05),
//             0px 0px 0px 160px rgba(#ffffff, 0.025);
//     }
//     40% {
//         box-shadow: inset 3px 7px 6px grey,
//             0px 13px darken($shadowScissors, 35%),
//             0px 0px 0px 10px rgba(#ffffff, 0.07),
//             0px 0px 0px 90px rgba(#ffffff, 0.05),
//             0px 0px 0px 170px rgba(#ffffff, 0.025);
//     }
//     50% {
//         box-shadow: inset 3px 7px 6px grey,
//             0px 13px darken($shadowScissors, 35%),
//             0px 0px 0px 20px rgba(#ffffff, 0.07),
//             0px 0px 0px 100px rgba(#ffffff, 0.05),
//             0px 0px 0px 175px rgba(#ffffff, 0.025);
//     }
//     60% {
//         box-shadow: inset 3px 7px 6px grey,
//             0px 13px darken($shadowScissors, 35%),
//             0px 0px 0px 30px rgba(#ffffff, 0.07),
//             0px 0px 0px 110px rgba(#ffffff, 0.05),
//             0px 0px 0px 185px rgba(#ffffff, 0.025);
//     }
//     70% {
//         box-shadow: inset 3px 7px 6px grey,
//             0px 13px darken($shadowScissors, 35%),
//             0px 0px 0px 40px rgba(#ffffff, 0.07),
//             0px 0px 0px 120px rgba(#ffffff, 0.05),
//             0px 0px 0px 195px rgba(#ffffff, 0.025);
//     }
//     80% {
//         box-shadow: inset 3px 7px 6px grey,
//             0px 13px darken($shadowScissors, 35%),
//             0px 0px 0px 50px rgba(#ffffff, 0.07),
//             0px 0px 0px 130px rgba(#ffffff, 0.05),
//             0px 0px 0px 210px rgba(#ffffff, 0.025);
//     }
//     90% {
//         box-shadow: inset 3px 7px 6px grey,
//             0px 13px darken($shadowScissors, 35%),
//             0px 0px 0px 60px rgba(#ffffff, 0.07),
//             0px 0px 0px 135px rgba(#ffffff, 0.05),
//             0px 0px 0px 215px rgba(#ffffff, 0.025);
//     }
//     100% {
//         box-shadow: inset 3px 7px 6px grey,
//             0px 13px darken($shadowScissors, 35%),
//             0px 0px 0px 70px rgba(#ffffff, 0.07),
//             0px 0px 0px 140px rgba(#ffffff, 0.05),
//             0px 0px 0px 220px rgba(#ffffff, 0.025);
//     }
// }

// @keyframes rockCircle {
//     0% {
//         box-shadow: none;
//     }
//     10% {
//         box-shadow: inset 3px 7px 6px grey, 0px 13px darken($shadowRock, 35%),
//             0px 0px 0px 0px rgba(#ffffff, 0.07),
//             0px 0px 0px 60px rgba(#ffffff, 0.05),
//             0px 0px 0px 140px rgba(#ffffff, 0.025);
//     }
//     20% {
//         box-shadow: inset 3px 7px 6px grey, 0px 13px darken($shadowRock, 35%),
//             0px 0px 0px 0px rgba(#ffffff, 0.07),
//             0px 0px 0px 70px rgba(#ffffff, 0.05),
//             0px 0px 0px 150px rgba(#ffffff, 0.025);
//     }
//     30% {
//         box-shadow: inset 3px 7px 6px grey, 0px 13px darken($shadowRock, 35%),
//             0px 0px 0px 0px rgba(#ffffff, 0.07),
//             0px 0px 0px 80px rgba(#ffffff, 0.05),
//             0px 0px 0px 160px rgba(#ffffff, 0.025);
//     }
//     40% {
//         box-shadow: inset 3px 7px 6px grey, 0px 13px darken($shadowRock, 35%),
//             0px 0px 0px 10px rgba(#ffffff, 0.07),
//             0px 0px 0px 90px rgba(#ffffff, 0.05),
//             0px 0px 0px 170px rgba(#ffffff, 0.025);
//     }
//     50% {
//         box-shadow: inset 3px 7px 6px grey, 0px 13px darken($shadowRock, 35%),
//             0px 0px 0px 20px rgba(#ffffff, 0.07),
//             0px 0px 0px 100px rgba(#ffffff, 0.05),
//             0px 0px 0px 175px rgba(#ffffff, 0.025);
//     }
//     60% {
//         box-shadow: inset 3px 7px 6px grey, 0px 13px darken($shadowRock, 35%),
//             0px 0px 0px 30px rgba(#ffffff, 0.07),
//             0px 0px 0px 110px rgba(#ffffff, 0.05),
//             0px 0px 0px 185px rgba(#ffffff, 0.025);
//     }
//     70% {
//         box-shadow: inset 3px 7px 6px grey, 0px 13px darken($shadowRock, 35%),
//             0px 0px 0px 40px rgba(#ffffff, 0.07),
//             0px 0px 0px 120px rgba(#ffffff, 0.05),
//             0px 0px 0px 195px rgba(#ffffff, 0.025);
//     }
//     80% {
//         box-shadow: inset 3px 7px 6px grey, 0px 13px darken($shadowRock, 35%),
//             0px 0px 0px 50px rgba(#ffffff, 0.07),
//             0px 0px 0px 130px rgba(#ffffff, 0.05),
//             0px 0px 0px 210px rgba(#ffffff, 0.025);
//     }
//     90% {
//         box-shadow: inset 3px 7px 6px grey, 0px 13px darken($shadowRock, 35%),
//             0px 0px 0px 60px rgba(#ffffff, 0.07),
//             0px 0px 0px 135px rgba(#ffffff, 0.05),
//             0px 0px 0px 215px rgba(#ffffff, 0.025);
//     }
//     100% {
//         box-shadow: inset 3px 7px 6px grey, 0px 13px darken($shadowRock, 35%),
//             0px 0px 0px 70px rgba(#ffffff, 0.07),
//             0px 0px 0px 140px rgba(#ffffff, 0.05),
//             0px 0px 0px 220px rgba(#ffffff, 0.025);
//     }
// }
