@import "../style/keyframes";
@import "../style/variables";

@mixin shadow($color) {
    box-shadow: inset 0px 7px 2px $grey, 0 9px $color;
}

@mixin bigCircle($color) {
    border: 40px solid $color;
    border-radius: 50%;
    background-color: #f3f3f3;
}

@mixin winAnimationTiming {
    animation-duration: 500ms, 500ms;
    animation-fill-mode: forwards;
    animation-delay: 500ms, 0ms;
    animation-timing-function: ease-in, ease-out;
}

@mixin winPaper {
    animation-name: paperWinAnimation, flip;
    @include winAnimationTiming();
}

@mixin winScissors {
    animation-name: scissorsWinAnimation, flip;
    @include winAnimationTiming();
}

@mixin winRock {
    animation-name: rockWinAnimation, flip;
    @include winAnimationTiming();
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 720px) {
            @content;
        }
    } @else if $breakpoint == tablet {
        @media (max-width: 919px) {
            @content;
        }
    } @else if $breakpoint == desktop {
        @media (min-width: 920px) {
            @content;
        }
    }
}
