$background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$grey: #b9bed4;

$scissors: #ec9e0e;
$paper: #4865f4;
$rock: #dc2e4e;

$shadowPaper: #2844bd;
$shadowScissors: #c4691a;
$shadowRock: #9c1533;

// Text
$darkText: #3b4363;
$scoreText: #2a46c0;
$headerOutline: #606e85;
$lightText: #f3f3f3;
