.house-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -100px 50px 0 50px;

    perspective: 1000px;

    @include respond(phone) {
        width: 200px;
        height: 200px;
    }
}

.wait-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #172240;

    @include respond(phone) {
        width: 200px;
        height: 200px;
    }

    @include respond(tablet) {
        width: 200px;
        height: 200px;
    }
}
