.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    text-align: center;

    @include respond(phone) {
        position: fixed;
        margin: 20% -5%;
    }

    @include respond(tablet) {
        position: fixed;
        left: 27%;
        bottom: 5%;
    }

    p {
        font-size: 55px;
        color: #f3f3f3;
        text-transform: uppercase;
        margin: 20px 50px;
        text-shadow: #0a0a0a 1px 0 10px;

        @include respond(tablet) {
            font-size: 70px;
        }
    }

    button {
        width: 200px;
        height: 50px;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        border-radius: 8px;
        outline: none;
        border: none;

        &:hover {
            cursor: pointer;
            color: $rock;
            transition: ease-in 0.2s;
        }

        &:active {
            transform: translateY(2px);
        }

        @include respond(tablet) {
            width: 280px;
            letter-spacing: 1.5px;
        }
    }
}

// RESULT ANIMATION

.result-animation {
    animation: textgrowth 0.5s alternate;
}

@keyframes textgrowth {
    0% {
        font-size: 55px;
    }
    50% {
        font-size: 70px;
    }
    100% {
        font-size: 55px;
    }
}

// PLAY AGAIN BUTTON ANIMATION

.play-again-btn {
    animation: lightup 1s alternate;
}

@keyframes lightup {
    0% {
        color: black;
    }

    50% {
        color: $rock;
    }

    100% {
        color: black;
    }
}
