@import "../../style/mixins";
@import "../../style/variables";

.triangle-container {
    position: relative;
    display: flex;
    flex-direction: column;

    .triangle {
        position: absolute;
        align-self: center;
        z-index: -1;
    }

    ul {
        max-height: 200px;
    }
}

.choice {
    border-radius: 50%;
    padding: 30px;
    width: 200px;
    height: 200px;
    display: flex;
    align-content: center;
    border: 25px solid;
    background-color: #f3f3f3;
    transition: transform 0.2s;
}

.paper {
    border-color: $paper;
    transform: translateX(-10rem) translateY(-5rem);
    @include shadow($shadowPaper);

    &:hover {
        transform: translateX(-10rem) translateY(-5rem) scale(1.1);
        cursor: pointer;
    }
}
.scissors {
    transform: translateX(10rem) translateY(-30rem);
    border-color: $scissors;
    @include shadow($shadowScissors);

    &:hover {
        transform: translateX(10rem) translateY(-30rem) scale(1.1);
        cursor: pointer;
    }
}

.rock {
    transform: translateX(0rem) translateY(-2rem);
    border-color: $rock;
    @include shadow($shadowRock);

    &:hover {
        transform: translateX(0rem) translateY(-2rem) scale(1.1);
        cursor: pointer;
    }
}

.player-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -100px 50px 0 50px;

    perspective: 500px;

    @include respond(phone) {
        width: 200px;
        height: 200px;
    }
}

.wait-pick {
    margin: 0;
    @include respond(phone) {
        position: fixed;
        bottom: 10%;
    }
}

.wait-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #172240;

    @include respond(phone) {
        width: 200px;
        height: 200px;
    }

    @include respond(tablet) {
        width: 200px;
        height: 200px;
    }
}

.pick {
    font-size: 30px;
    margin: auto;
    margin-bottom: 60px;
    text-transform: uppercase;
    color: #f3f3f3;
    text-shadow: #0a0a0a 1px 0 10px;
    text-align: center;

    @include respond(phone) {
        position: fixed;
        bottom: -70%;
    }
}

.picked-image {
    width: 300px;
    height: 300px;
    padding: 50px;

    @include respond(phone) {
        width: 200px;
        height: 200px;
        padding: 30px;
    }

    @include respond(tablet) {
        border: 20px solid $paper;
        width: 200px;
        height: 200px;
        padding: 15px;
    }
}

.img-paper {
    @include bigCircle($paper);
    @include shadow($shadowPaper);

    @include respond(tablet) {
        border: 30px solid $paper;
    }
}

.img-rock {
    @include bigCircle($rock);
    @include shadow($shadowRock);

    @include respond(tablet) {
        border: 30px solid $rock;
    }
}

.img-scissors {
    @include bigCircle($scissors);
    @include shadow($shadowScissors);

    @include respond(tablet) {
        border: 30px solid $scissors;
    }
}

.winner-rock {
    @include winRock();
}

.winner-paper {
    @include winPaper();
}

.winner-scissors {
    @include winScissors();
}

// FLIP ANIMATION

// .picked-image {
//     animation: flip 0.6s;
// }

@keyframes flip {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0deg);
    }
}
