.rules-container {
    margin: auto;

    .rules-btn {
        position: fixed;
        right: 20px;
        bottom: 20px;
        padding: 10px 40px;
        background-color: transparent;
        border: 1px solid $lightText;
        border-radius: 7px;
        color: $lightText;
        letter-spacing: 0.3em;

        &:hover {
            cursor: pointer;
        }

        @include respond(phone) {
            right: 40%;
        }
    }
}

.rules {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 40%;
    margin-left: -200px;
    margin-top: -30px;
    background-color: $lightText;
    width: 400px;
    height: 430px;
    padding: 20px;
    border-radius: 8px;

    @include respond(phone) {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        margin: auto;
    }

    p {
        font-size: 30px;

        @include respond(phone) {
            font-size: 45px;
            margin: auto;
        }
    }

    div {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        border: none;

        &:hover {
            cursor: pointer;
        }

        @include respond(phone) {
            position: fixed;
            right: 50%;
            bottom: 5%;
        }
    }
}

.rules-img {
    margin: auto;
    outline: none;
}
